<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.crazyorr.newmoviesexpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AdaptiveTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MovieDetailActivity" />
        <activity android:name=".activity.AddKeywordsActivity" />
        <activity android:name=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NotificationsActivity" />
        <!-- TODO android:process -->
        <!--<service-->
        <!--android:name=".service.BackgroundService"-->
        <!--android:enabled="true" />-->
        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:process=":backgroundservice" />
    </application>

</manifest>
